appdirs==1.4.4
blessings==1.7
certifi==2021.5.30
chardet==4.0.0
codecov==2.1.11
coloredlogs==15.0.1
colour-runner==0.1.1
coverage==5.5
deepdiff==5.5.0
distlib==0.3.2
et-xmlfile==1.1.0
fake-useragent==0.1.11
filelock==3.0.12
humanfriendly==9.2
idna==2.10
numpy==1.21.0
openpyxl==3.0.7
ordered-set==4.0.2
packaging==20.9
pandas==1.2.5
pluggy==0.13.1
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
termcolor==1.1.0
toml==0.10.2
tox==3.23.1
urllib3==1.26.6
virtualenv==20.4.7
